[submodule "tokyonight"]
	path = pack/contrib/start/tokyonight-vim
	url = https://github.com/ghifarit53/tokyonight-vim.git
[submodule "gruvbox"]
	path = pack/contrib/start/gruvbox
	url = https://github.com/morhetz/gruvbox.git
[submodule "nerdtree"]
	path = pack/contrib/start/nerdtree
	url = https://github.com/preservim/nerdtree.git
